{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href=" {% static 'plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %} ">
{% endblock %}

{% block content %}
<!--套用layout模板-->
<div>
    <div class="container">
               <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 编辑用户 </h3>
            </div>
            <div class="panel-body">
                <!--novalidate浏览器校验-->
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <spqn style="color:red">{{ field.errors.0}}</spqn>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src=" {% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %} "></script>
<script src=" {% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %} "></script>
<script src=" {% static 'plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js' %} "></script>
<script>
        $(function(){
            $('#id_create_time').datetimepicker({
            minView: "month",
            format: 'yyyy-mm-dd',
            start: '0',
            language: 'zh-CN',
            autoclose: true
            });
        })
</script>
{% endblock %}
