{% extends 'layout.html' %}

{% block content %}
<!--套用layout模板-->
<div class="container">
    <div style="margin-bottom:10px" class="clearfix">
        <a class="btn btn-success" href="/pretty_num/add/">
            <span class="glyphicon glyphicon-plus-sign" style="height: 20px">
            新建靓号
            </span>
        </a>
        <!--搜索按钮-->
        <div style="float: right; width: 300px">
            <!--表单有提交功能-->
            <form method="get">
                <div class="input-group">
                    <!--name字段表示以搜索框内容进行提交-->
                    <input type="text" name="q" class="form-control" placeholder="请输入搜索的内容..." value="{{ search_data }}">
                    <span class="input-group-btn">
                        <!--type="submit"提交-->
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" style="height: 20px"></span>
                    </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <!-- 表单 -->
    <div class="bs-example" data-example-id="panel-without-body-with-table">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                靓号列表
            </div>
            <!-- 表格 -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>手机号码</th>
                    <th>价格</th>
                    <th>级别</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in page_queryset %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.mobile }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.get_level_display }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/pretty_num/{{ item.id }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/pretty_num/delete/?nid={{ item.id }}">删除</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 分页栏 -->
    <!-- 当前页显示蓝色 -->
    <!-- <span class="sr-only">(current)</span> -->
    <ul class="pagination">
        {{ page_string }}
    </ul>

</div>
{% endblock %}